.input {
    border-radius: 10px;
    border: 2px solid #3E2D67;
    background: transparent;
    padding: 10px;
    min-width: 450px;
    min-height: 20px;
    color: #fff;
    margin-top: 5px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}